<div class="link-poop">
  <div class="link-vote" {{action 'voteForLink' link.votes link.id}}></div>
  {{link.votes.length}}
</div>

<div class="link-content">
  <a class="link-item" target="_blank" href="{{link.url}}">{{link.description}}</a>

  <div class="link-meta">
    {{if link.postedBy.name link.postedBy.name 'Unknown'}} {{moment-from-now link.createdAt}}
  </div>

</div>