<form {{action 'loginOrSignUp' on='submit'}}>

  {{#unless loginState}}
    {{input class="form-control" type='text' placeholder='Your name' value=name}}
  {{/unless}}

  {{input class="form-control" type='text' placeholder='Your email address' value=email}}
  {{input class="form-control" type='password' placeholder='Choose a safe password' value=password}}

  {{input class="button" type='submit' class='mr2' value=(if loginState 'login' 'create account')}}

  <button class="button" {{action 'changeLoginState'}}>
    {{#if loginState}}
      need to create an account?
    {{else}}
      already have an account?
    {{/if}}
  </button>

</form>
