{{#if loginState}}
  Login
{{else}}
  Sign Up
{{/if}}

<form {{action 'loginOrSignUp' on='submit'}}>

  {{#unless loginState}}
    {{input type='text' placeholder='Your name' value=name}}
  {{/unless}}

  {{input type='text' placeholder='Your email address' value=email}}
  {{input type='password' placeholder='Choose a safe password' value=password}}

  {{input type='submit' class='mr2' value=(if loginState 'login' 'create account')}}

  <button {{action 'changeLoginState'}}>
    {{#if loginState}}
      need to create an account?
    {{else}}
      already have an account?
    {{/if}}
  </button>

</form>
